<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" href="#!data">Data</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#!list">List</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#!cart">Cart</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#!file">File</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#!slick">Slick</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#!page">Page</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#!autoComplete">AutoComplete</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#!scroll">Scroll</a>
    </li>
</ul>